html {
    height: 100%;
}

body {
    padding: 5px;
    background-color: #8232bf;
    background-image: linear-gradient(to bottom right, #5a148f, #3c0765);
    background-repeat: no-repeat;
}

.big {
    font-family: Impact;
    color: white;
}

button {
    background-color: #fff;
    padding: 10px 10px;
    color: #068692;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #068692;
}