html {
    height: 100%;
}

body {
    padding: 5px;
    background-color: #8232bf;
    background-image: linear-gradient(to bottom right, #6818a4, #3c0765);
    background-repeat: no-repeat;
}

.big {
    font-family: Impact;
    font-weight: lighter;
    color: white;
}

button {
    background-color: #fff;
    padding: 10px 10px;
    color: #004c53;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #068692;
}